<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <title>-= RomaRepo Home =-</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <style>
        body {
            background-color: darkseagreen;
        }
        .center-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
        }

        .center-content img {
            display: block;
            margin: 10px 0;
        }

        .center-content button {
            margin: 5px;
        }
    </style>
</head>
<body>
<div class="center-content">
    <div>
        <h1>Welcome to RomaRepo!</h1>
    </div>
    <div>
        <h3>Look, it works!</h3>
    </div>
    <div>
        <img th:src="@{/images/welcome.jpg}" alt="Welcome!" style="width: 300px; height: auto; margin-bottom: 20px;"/>
    </div>
    <div>
<!--        <button type="button">Search the Repo</button>-->
    </div>
    <div>
        <form th:action="@{/search}" th:object="${query}" method="post">
            <label for="query"></label><input id="query" type="text" th:field="*{query}" />
            <button type="submit">Search</button>
        </form>
    </div>
    <div>
        <a th:href="@{/browse}" style="text-decoration: none;">
            <button type="button">Browse the Repo</button>
        </a>
    </div>
</div>
</body>
</html>