<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <title><< RomaRepo Search >></title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <style>
        body {
            background-color: darkseagreen;
        }
        .center-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
        }

        .center-content img {
            display: block;
            margin: 10px 0;
        }

        .center-content button {
            margin: 5px;
        }
    </style>
</head>
<body>
<div class="center-content">
    <div>
        <form th:action="@{/home}" th:object="${query}" method="post">
            <label for="query"></label><input id="query" type="text" th:field="*{query}" />
            <button type="submit">Search</button>
        </form>
    </div>
    <div>
        <h3>Search results for [search query goes here]</h3>
    </div>
</div>
</body>
</html>